5. 데이터를 정렬해서 출력하기(ORDER BY)<Br>
* order by절은 데이터를 정렬하는 절
* select 문장 맨 마지막에 기술
※ order by절은 무조건 맨 마지막에 작성
>ex)<br>
select ename, sal<br>
    from emp<br>
    order by sal asc; → order by 뒤 정렬하고 싶은 컬럼명과 정렬방법

* 정렬방법
    - Asc : 올림차순(낮은값부터 높은값순)
    - Desc : 내림차순(높은값부터 낮은값순)
<Br>
* order by 절에 컬럼을 여러개 작성할 수 있다
>ex)<br>
select ename, deptno, sal<br>
    from emp<br>
    order by deptno asc, sal desc;<br>

* order by 절 뒤에 컬럼명을 컬럼순서의 번호로 대체 가능
>ex)<br>
select ename, deptno, sal<br>
    from emp<br>
    order by 2 asc, 3 desc;


6. WHERE절 1(숫자 데이터 검색)
* where절을 사용하면 특정 조건에 대한 데이터만 선별해서 출력할 수 있다
>ex)<br>
select ename, sal<br>
    from emp<br>
    where sal = 3000;

7. WHERE절 2(문자와 날짜 검색)
* where절로 데이터를 검색할 때 숫자와는 다르게 문자는 양쪽에 싱글 쿼테이션 마크를 둘러줘야 한다
>ex)<br>
select ename, sal<br>
    from emp<br>
    where ename = 'SCOTT';

* SQL은 대소문자를 구분하지 않으나 데이터는 대소문자를 구분한다
* 싱글 쿼테이션 마크 안에 있는 데이터는 문자 또는 날짜이다. 라고 오라클에게 알려주는 것임
* 날짜검색을 할때 년도/월/일 순으로 검색하며 나라마다 순서가 다를 수 있다